* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    display: inline-block;
}

.bg {
    color: white;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.text {
    margin-top: 200px;
    margin-left: 15%
}

.icon {
    position: fixed;
    top: 270px;
    left: 85%;
    height: 100px;
}

@media screen and (max-width: 991px){
    .text {
        margin-top: 186px;
        margin-left: 15%
    }
}

@media screen and (max-width: 768px) {
    .bg {
        display: inline-block;
        text-align: justify;
        color: white;
        background-image: url("../img/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    .icon {
        position: fixed;
        top: 4%;
        left: 150px;
        transform: translateX(100px);
    }

    .text {
        margin-top: 120px;
        margin-left: 15%;
    }
}

@media screen and (max-width: 575px){
    .icon {
        display: none;
    }
}